
<%= simple_form_for(@talisman) do |f| %>
  <% if @talisman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talisman.errors.count, "error") %> prohibited this talisman from being saved:</h2>

      <ul>
      <% @talisman.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, {:class => 'control-label'} %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :rarity, {:class => 'control-label'} %>
    <%= f.select(:rarity, options_for_select( [1,2,3,4,5,6,7,8,9,10], @talisman.rarity ))  %>
  </div>
  <div class="field">
    <%= f.label :slots, {:class => 'control-label'} %>
    <%= f.select(:slots, options_for_select( [0,1,2,3], @talisman.slots )) %>
  </div>
  <% if params[:action] == 'new' %>

	<%
		@none_option = options_for_select([['None', 0]])
		@skill_options = options_from_collection_for_select(Skill.all, :id, :name) 
		@skill_options = "#{@none_option}\n#{@skill_options}".html_safe
	%>
	  <div class="field">
		<%= label_tag(:skill_1, 'Skill 1', {:class => 'control-label'})  %>
		<%= select_tag(:skill_1, @skill_options) %>
	  </div>
	  <div class="field">
		<%= label_tag :skill_1_value, 'Skill 1 Value', {:class => 'control-label'} %>
		<%= text_field_tag :skill_1_value %>
	  </div>
	  <div class="field">
		<%= label_tag(:skill_2, 'Skill 2', {:class => 'control-label'})  %>
		<%= select_tag(:skill_2, @skill_options) %>
	  </div>
	  <div class="field">
		<%= label_tag :skill_2_value, 'Skill 2 Value', {:class => 'control-label'} %>
		<%= text_field_tag :skill_2_value %>
	  </div>
	<% end %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-success' %>
  </div>
<% end %>
