<h1>Listing Talisman Skills</h1>

<table class="table">
	<thead>
	  <tr>
		<th>Talisman</th>
		<th>Skill</th>
		<th>Value</th>
		<th></th>
		<th></th>
		<th></th>
	  </tr>
	</thead>
	<tbody>

<% @talisman_skills.each do |talisman_skill| %>
  <tr>
    <td><%= talisman_skill.talisman.name %></td>
    <td><%= talisman_skill.skill.name %></td>
    <td><%= talisman_skill.value %></td>
    <td><%= link_to 'Show',[@talisman, talisman_skill], {:class => 'btn btn-mini'} %></td>
    <td><%= link_to 'Edit', edit_talisman_talisman_skill_path(@talisman, talisman_skill), {:class => 'btn btn-mini'} %></td>
    <td><%= link_to 'Destroy', [@talisman, talisman_skill], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Talisman skill', new_talisman_talisman_skill_path, :class => 'btn' %>
<%= link_to "Back to #{@talisman.name}", @talisman, {:class => 'btn'} %> 
<%= link_to "New Talisman", new_talisman_path, {:class => 'btn'} %> 
<%= link_to "Talismans", talismans_path, {:class => 'btn'} %> 
